main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}




header .fa-user, .fa-users, .fa-shopping-cart, .fa-arrow-alt-circle-right, .fa-grin, .fa-list, .fa-list-alt {
  cursor: pointer;
  color: white;
  transition: 0.3s;
  padding: 10px;
}

header .fa-user:hover, .fa-shopping-cart:hover, .fa-arrow-alt-circle-right:hover, .fa-grin:hover {
  color: orange;
}

.fa-users:hover {
  color: orange;
}

.fa-list:hover {
  color: orange;
}

.fa-list-alt:hover {
  color: orange;
} 


.qty {
  color: orange;
  font-weight: bold;
}

.dang {
  color: tomato;
}

.signInButton, .btn-shipping {
  margin-top: 10px;
}


.page-link {
  color: #fff;
  background: #000;
  text-decoration: none;
  margin: 3px;
}

.page-link:hover {
background: orange;
color: #fff;
text-decoration: none;
}

.active {
  background: gray;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.paginate {
  display: flex;
  justify-content: center;
}

/* carousel */
.carousel {
  background: #000;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}


/* .rating span {
  margin: 0.1rem;
} */

/* .fa-star, .fa-star-half-alt {
  color: orange;
} */
