main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

header .fa-user, .fa-shopping-cart, .fa-arrow-alt-circle-right, .fa-grin {
  cursor: pointer;
  color: white;
  transition: 0.3s;
  padding: 10px;
}

header .fa-user:hover, .fa-shopping-cart:hover, .fa-arrow-alt-circle-right:hover, .fa-grin:hover {
  color: orange;
}

.qty {
  color: orange;
  font-weight: bold;
}

.dang {
  color: tomato;
}

.signInButton {
  margin-top: 10px;
}

/* .rating span {
  margin: 0.1rem;
} */

/* .fa-star, .fa-star-half-alt {
  color: orange;
} */